// /////// Home 1 color /////////

// //title color
$title-color1: #091524;
$title-color2: #020334;
$title-color3: #2a6df5;




//paragraph color
$paragraph-color1: #3e3e51;
$paragraph-color2: #4b4c57;
$paragraph-color3: #4b4b57;
$paragraph-color4: #484859;


//pre title
$pre-title-color1: #f11e78;



//border
$border-color1: rgba(15, 22, 41, 0.078);
$border-color2: #ebebf1;




//background-color
$background-color-1: #e9edf2;
$background-color-2: rgb(42, 109, 245);
$background-color-3: rgba(241, 30, 120, 0.059);
$background-color-4: #ffffff;
$background-color-5: #2a6df5;
$background-color-6: #eef1f5;
$background-color-7: #fbf2ff;
$background-color-8: #fff6f2;
$background-color-9: #fef2f7;
$background-color-10: #f2f6fe;
$background-color-11: #edf8ec;
$background-color-12: #f0f9fb;
$background-color-13: #edf8ec;
$background-color-14: #fff9f1;
$background-color-15: #f6fafa;
$background-color-16: #f6f6fb;
$background-color-17: #eef1f6;
$background-color-18: #071f51;





//border colors
$border:#ebebf1;



//More color
$color1: #bb1bfe;
$color2: #ff8b56;
$color3: #f11e78;
$color4: #2a6df5;
$color5: #1ca70c;
$color6: #089db3;
$color7: #0f1629;
$color8: #ffffff;
$color9: #737383;
$color10: #020334;
$color11: #000000;
$color12: #3563cc;
$color13: #4c5057;
$color14: #abb0ba;
$color15: #fd4680;
$white: #ffffff;
$black: #222222;
$black-2: #091524;
$w-purple: #7127ea; 
$w-purple-4: #5d41c2; 
$w-blue: #2f80ed; 
$w-blue-7: #2a6df5; 
$body-text-color: #6c6a8a;
$w-text-5: #474554;

$heading-color: #070337;





// Font Family
$open: 'Manrope', sans-serif;
$Dancing: 'Dancing Script', 'cursive';
$Manrope: 'Manrope', sans-serif;
$Norican: 'Norican', 'cursive';
$fontawesome: "FontAwesome";
$fontawesome1: "Font Awesome 5 Free";





// Responsive Variable
$xxl: 'only screen and (min-width: 1400px) and (max-width: 1600px)';
$xl: 'only screen and (min-width: 1200px) and (max-width: 1399px)';
$lg : 'only screen and (min-width: 992px) and (max-width: 1199px)';
$md:'only screen and (min-width: 768px) and (max-width: 991px)';
$sm: 'only screen and (min-width: 576px) and (max-width: 767px)';
$xs:'(max-width: 575px)';
