@use '../abstracts/variable'as *;
@use '../abstracts/mixins'as *;
/*----------------------------------------*/
/*  06. newsletter CSS START
/*----------------------------------------*/
.newsletter2{
    @media only screen and (min-width: 1400px) {
        &__width{
            max-width: 1195px;
        }   
    }
    &__area{
        background-color: $background-color-17;
        height: 420px;
        overflow: hidden;
    }
    &__wrapper{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
    }
    &__title{
        font-family: $open;
        font-size: 44px;
        font-weight: 800;
        letter-spacing: -20;
        color: $title-color2;
        @media #{$md}{
            font-size: 32px;
        }
        @media #{$sm}{
            font-size: 26px;
        }
        @media #{$xs}{
            font-size: 24px;
        }
    }
    &__paragraph{
        padding-top: 3px;
        font-family: $open;
        font-size: 17px;
        font-weight: 500;
        color: $paragraph-color2;
    }
    &__form{
        top: 24px;
        margin-right: 132px;
        position: relative;
        & input{
            width: 420px;
            height: 60px;
            padding: 0 30px;
            border: none;
            outline: none;
            background: $white;
            border-radius: 30px 0 0 30px;
            @media #{$sm}{
                width: 370px;
            }
            @media #{$xs}{
                width: 100%;
            }
            &::placeholder{
                font-size: 15px;
                font-weight: 400;
                color: $paragraph-color3;
            }

            &:focus{
                @include box-shadow(0px 20px 30px 0px rgba(8, 0, 42, 0.14));
                z-index: 1;
            }

        }

        & button{
            position: absolute;
            width: 150px;
            height: 60px;
            line-height: 28px;
            padding: 0 6px;
            background: $color10;
            color: $background-color-4;
            font-size: 15px;
            font-weight: 600;
            border-radius: 0 30px 30px 0;
            @media #{$xs}{
                width: 100px;
                height: 60px;
            }
            &:hover{
                background-color: $color4;
                color: $background-color-4;
                @include box-shadow(0px 20px 30px 0px rgba(8, 0, 42, 0.14));
            } 
        }
    }
    &__shape{
        & img{
            position: absolute;
            z-index: 1;
        }
        &-1{
            top: -22%;
            left: 9%;
            -webkit-animation: newsletter2__shape-1 3s linear infinite alternate;
            -moz-animation: newsletter2__shape-1 3s linear infinite alternate; 
            -o-animation: newsletter2__shape-1 3s linear infinite alternate;
            animation: newsletter2__shape-1 3s linear infinite alternate;
            @media #{$md,$sm,$xs}{
                display: none;
            }
        }
        &-2{
            top: 58%;
            left: 10%;
            -webkit-animation: newsletter2__shape-2 3s linear infinite alternate;
            -moz-animation: newsletter2__shape-2 3s linear infinite alternate; 
            -o-animation: newsletter2__shape-2 3s linear infinite alternate;
            animation: newsletter2__shape-2 3s linear infinite alternate;
            @media #{$md,$sm,$xs}{
                display: none;
            }
        }
        &-3{
            top: 55%;
            right: 32%;
            @media #{$md,$sm,$xs}{
                display: none;
            }
        }
        &-4{
            top: -30%;
            right: 10%;
            -webkit-animation: newsletter2__shape-1 3s linear infinite alternate;
            -moz-animation: newsletter2__shape-1 3s linear infinite alternate; 
            -o-animation: newsletter2__shape-1 3s linear infinite alternate;
            animation: newsletter2__shape-1 3s linear infinite alternate;
            @media #{$md,$sm,$xs}{
                display: none;
            }
            
        }
        &-5{
            top: 9%;
            right: 14%;
            -webkit-animation: newsletter2__shape-2 3s linear infinite alternate;
            -moz-animation: newsletter2__shape-2 3s linear infinite alternate; 
            -o-animation: newsletter2__shape-2 3s linear infinite alternate;
            animation: newsletter2__shape-2 3s linear infinite alternate;
            @media #{$md,$sm,$xs}{
                display: none;
            }
        }
        &-6{
            bottom: -50%;
            right: 8%;
            -webkit-animation: newsletter2__shape-6 3s linear infinite alternate;
            -moz-animation: newsletter2__shape-6 3s linear infinite alternate; 
            -o-animation: newsletter2__shape-6 3s linear infinite alternate;
            animation: newsletter2__shape-6 3s linear infinite alternate;
            @media #{$md,$sm,$xs}{
                display: none;
            }
        }

    }
}
@keyframes newsletter2__shape-1{
    0%{
      transform: translateY(-30px);
    }
    100%{
      transform: translateY(0px);
    }
}
@keyframes newsletter2__shape-2{
    0%{
      transform: translateX(-50px);
    }
    100%{
      transform: translateX(0px);
    }
}
@keyframes newsletter2__shape-6{
    0%{
      transform: translateY(-15px);
    }
    100%{
      transform: translateY(0px);
    }
}
