@use '../abstracts/variable'as *;
@use '../abstracts/mixins'as *;
/*----------------------------------------*/
/*  03. SERVICES CSS START
/*----------------------------------------*/
.services{

    @media only screen and (min-width: 1400px) {
        &__width{
            max-width: 1200px; 
        }   
    }
    &__area{
        
        overflow: hidden;
        background-color: $background-color-4;
    }
    &__title-wrapper{
        margin-bottom: 65px;
    }
    &__subtitle {
        font-family: $open;
        font-size: 16px;
        font-weight: 500;
        color: #2a6df5;

    }

    &__title-1 {
        font-family: $open;
        font-size: 40px;
        font-weight: 800;
        color: #020334;
        letter-spacing: -20;
        @media #{$md}{
            font-size: 32px;
        }
        @media #{$sm}{
            font-size: 26px;
        }
        @media #{$xs}{
            font-size: 24px;
        }
    }
    &__item{
        height: 260px;
        width: 270px;
        position: relative;
        z-index: 1;
        padding-left: 28px;
        border-radius: 6px;
        border: 2px solid $border-color1;
        @include transition(.3s);
        @media #{$lg}{
            width: 230px;
        }
        @media #{$sm}{
            width: 230px;
        }
        @media #{$xs}{
            width: 100%;
        }

        &.active,
        &:hover {
            height: 260px;
            width: 270px;
            box-shadow: 0px 30px 50px 0px rgba(0, 15, 56, 0.1),inset 0px 3px 0px 0px rgba(42, 109, 245, 0.004);
            border: 2px solid $white;
        }

    }
    &__icon{
        padding-top: 48px;
    }
    &__content{
        margin-bottom: 42px;
    }
    &__title {
        font-family: $open;
        font-size: 20px;
        font-weight: 800;
        line-height: 26px;
        color: $title-color2;
        margin-bottom: 7px;
    }
    &__paragraph{
        font-family: $open;
        font-size: 15px;
        font-weight: 400;
        color: $paragraph-color2;
    }
    &__inner{
        @include transition(.1s);
        
        position: relative;
        z-index: 1;
        &::before{
            position: absolute;
            content: "";
            left: 0px;
            right: 0;
            top: 10px;
            border-radius: 6px;
            background: $background-color-5;
            height: 50%;
            width: 270px;
            z-index: -10;
            @media #{$xl}{
                left: 1px;
                width: 268px;
            }
            @media #{$lg}{
                left: 1px;
                width: 228px;
            }
            @media #{$md}{
                left: 1px;
                width: 228px;
            }
            @media #{$sm}{
                left: 1px;
                width: 228px;
            }
            @media #{$xs}{
                left: 1px;
                width: 99%;
            }
        }
        &:hover,
        &.active{
            &::before{
                top: -3px;
                
            }
        }
    }

    &__btn{
        padding-top: 29px;
    }
    
}
